@tailwind base;

@layer base {
    :root {
        --color-primario: #191d2b;
        --color-white: #fff;
        --color-black: #000000;
        --color-secundario: #27AE60;
        --color-gris: #f8f8f8;
        --color-gris1: #dbe1e8;
        --color-gris2: #b2becd;
        --color-gris3: #6c7983;
        --color-gris4: #454e56;
        --color-gris5: #2a2e35;
        --color-gris6: #12181b;

        --color-primario1: #fff;
        --color-secundario1: #F56692;
        --color-white1: #454e56;
        

    },
    a {
        @apply inline-block
    },
    /* display: inline-block */
    section {
        @apply min-h-screen w-full absolute left-0 top-0 py-8 px-10 md:py-12 md:px-40
    },
    /* min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem; */
    header {
        @apply min-h-screen md:h-screen overflow-hidden 
    },
    body {
        @apply bg-primario dark:bg-primario1 font-Poppins text-lg text-white transition-all duration-500 ease-in-out
    }
    /* height: 100vh;
    color: white;
    overflow: hidden; */
}
@tailwind components; 
@tailwind utilities;